/********************
    PAGE - GENERAL
********************/

html {
  scroll-behavior: smooth;
}

body {
  min-width: 300px;
  font-family: 'Roboto', Arial, sans-serif;
  background-color: $color-white;
  color: $color-text;
  word-wrap: break-word;
  overflow-wrap: break-word;

  @include media-breakpoint-up(lg) {
    overflow-y: scroll;
  }
}

.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.page {
  flex: 1;
}

.content-page {
  background-color: $color-grey-light-1;
}

.text-wrap {
  word-break: break-word;
}

a, .btn-link {
  color: $primary;
  text-decoration: none;

  &:hover {
    color: $color-hover-2;
    text-decoration: underline;
  }
}

.nav-link:hover {
  text-decoration: none;
}

/* Globally override the background color for all primary buttons */
.btn-primary {
  background-color: $primary; /* Example: Grey color */
  border-color: $primary; /* Match border color */
  &:hover, &:focus, &:active {
    background-color: $primary-hover;
    border-color: $primary-hover;
    text-decoration: none;
  }
}

.btn-outline-primary {
  color: $primary;
  border-color: $primary;

  &:hover, &:focus, &:active {
    background-color: $primary-hover;
    border-color: $primary-hover;
    text-decoration: none;
  }
}

.font-size-100 {
  font-size: 100%;
}

.font-size-125 {
  font-size: 125%
}

.font-size-150 {
  font-size: 150%
}

.font-size-200 {
  font-size: 200%
}

.form-group {
  margin-bottom: 1rem;
}

.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.form-row > .col {
  padding-left: 5px;
  padding-right: 5px;
}

label {
  margin-bottom: 0.5rem;
}

:root {
  // rgb presentation of color primary
  --bs-primary-rgb: 8, 101, 201;
}
