.logo-eu {
  img {
    display: none
  }

  .contrast-normal {
    display: block
  }
}

.black-yellow, .black-white, .yellow-black {
  .logo-eu {
    img {
      display: none
    }
  }
}

.black-yellow {
  .logo-eu {
    img.contrast-black-yellow {
      display: block
    }
  }
}

.black-white {
  .logo-eu {
    img.contrast-black-white {
      display: block
    }
  }
}

.yellow-black {
  .logo-eu {
    img.contrast-yellow-black {
      display: block
    }
  }
}
