.login-start-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: #eeeeee;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  margin-bottom: 15px;

  @include media-breakpoint-down(md) {
    padding: 5px;
  }
  @include media-breakpoint-up(sm) {
    padding: 20px 5px;

  }
  @include media-breakpoint-up(md) {
    padding: 20px;
  }

  hr {
    width: 100%;
  }

  .login-start-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    justify-content: center;
    border: #E6E9EC solid 2px;
    &.black-white {
      background: black;
      color: white;
      &:hover {
        border-bottom: 3px solid white;
      }
    }
    &.black-yellow {
      background: black;
      color: $color-yellow;
      border: $color-yellow solid 2px;
      &:hover {
        border-bottom: 3px solid $color-yellow;
      }
    }
    &.yellow-black {
      background: $color-yellow;
      color: black;
      border: black solid 2px;
      &:hover {
        border-bottom: 3px solid black;
      }
    }
    &:hover{
      border-bottom-color: #0865c9 ;
    }
    hr{
      color:#E6E9EC;
      background-color: #E6E9EC;
      border: 0 none;
      height: 2px;
      &.black-yellow {
        color: $color-yellow;
        background-color: $color-yellow;
      }
      &.yellow-black {
        color: black;
        background-color: black;
      }
    }

    @include media-breakpoint-up(xl) {
      min-width: 400px;
      max-width: 400px;
    }

    @include media-breakpoint-down(xxl) {
      max-width: 330px;
    }

    @include media-breakpoint-down(lg) {
      max-width: 310px;
      min-width: 250px;
    }

    @include media-breakpoint-down(md) {
      max-width: 280px;
      min-width: 250px;
    }
  }

  .login-start-header {
    color: $color-blue-light;
    font-weight: bold;
    font-size: 1.375rem;
    margin-top: 35px;
    margin-bottom: 25px;
    padding: 0 10px;
    text-align: center;
    @include media-breakpoint-down(xl) {
      font-size: 1.25rem;
    }
    &.black-white {
      color: white;
    }
    &.black-yellow {
      color: $color-yellow;
    }
    &.yellow-black {
      color: black;
    }
  }

  .login-start-image {
    margin-top: 40px;
    height: 54px;
    &__form {
      fill: #0865c9;
      width: 54px;
    }
    &__wk {
      width: 188px;
    }
  }

  .login-start-text {
    padding: 0 20px;
    text-align: center;
    min-height: 72px;
    align-content: flex-start;
    margin-bottom: 24px;
    flex: 1;
  }

  .login-start-button {
    margin: 24px 0 40px 0;
    padding: 5px 30px;

    &__wk {
      color: white;
      font-weight: bold;

      &:hover {
        color: white;
      }
    }

    &__form {
      color: $color-blue-light;

      &:hover {
        color: white;
      }
    }
  }
}

.login-start-back {
  color: $color-blue-light;

  &:hover {
    text-underline: $color-blue-light;
  }
}
