.dga-tab-content {
  padding: 5px 10px;
}

.dga-tiles {
  cursor: pointer;
}

.dga-collapse-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s;
  &.animate {
    max-height: 1000px;
    transition: max-height 1s;
  }
}
