@use '@angular/material' as mat;
//@import "@angular/material/theming";


// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$mat-primary: (
        10: #0865c9,
        20: #0865c9,
        30: #0865c9,
        40: #0865c9,
        50: #0865c9,
        70: #0865c9
);


// todo przywrocic pelene na nowym mat
//// Define the palettes for your theme using the Material Design palettes available in palette.scss
//// (imported above). For each palette, you can optionally specify a default, lighter, and darker
//// hue. Available color palettes: https://material.io/design/color/
$mcod-app-primary: mat.m2-define-palette(mat.$m2-amber-palette);
$mcod-app-accent:  mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
//
//// The warn palette is optional (defaults to red).
$mcod-app-warn:    mat.m2-define-palette(mat.$m2-red-palette);
//
//// Create the theme object (a Sass map containing all of the palettes).
$mcod-app-theme: mat.m2-define-light-theme($mcod-app-primary, $mcod-app-accent, $mcod-app-warn);
//
//// Include theme styles for core and each component used in your app.
//// Alternatively, you can import and @include the theme mixins for each component
//// that you are using.
@include mat.all-component-themes($mcod-app-theme);
