
// breakpoints taken from bootstrap's _variables.css
// xxl - added
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1440px
) !default;

$container-max-widths: (
	sm: 576px, //540px,
	md: 768px, //720px,
	lg: 960px,
	xl: 1140px,
	xxl: 1340px
) !default;

// disable rounded corners
$enable-rounded: false;

// Bootstrap's primary color

$primary: #0865C9; // same as $color-blue-light;
$primary-hover: #0753a4;

// Bootstrap's tooltip
$tooltip-bg: #0f2648; // same as $color-blue-dark
$tooltip-body-color: #fff; // same as $color-white
$tooltip-max-width: 300px;

$link-decoration: none;
$link-hover-decoration: 'underline';


// REQUIRED parts of Bootstrap
@import "bootstrap";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";

@import "bootstrap/scss/utilities";
@import "bootstrap/scss/utilities/api";
@import "bootstrap-overwrite/mixins/text-emphasis";
@import "bootstrap-overwrite/mixins/collapse-btn";
//
//
//// OPTIONAL parts of Bootstrap
//@import "node_modules/bootstrap/scss/root";
//@import "node_modules/bootstrap/scss/reboot";
//@import "node_modules/bootstrap/scss/type";
//@import "node_modules/bootstrap/scss/images";
//// @import "code";
//@import "node_modules/bootstrap/scss/grid";
//@import "node_modules/bootstrap/scss/tables";
//@import "node_modules/bootstrap/scss/forms";
//@import "node_modules/bootstrap/scss/buttons";
//@import "node_modules/bootstrap/scss/transitions";
//@import "node_modules/bootstrap/scss/dropdown";
//@import "node_modules/bootstrap/scss/button-group";
//@import "node_modules/bootstrap/scss/nav";
//@import "node_modules/bootstrap/scss/navbar";
//// @import "card";
//@import "node_modules/bootstrap/scss/breadcrumb";
//@import "node_modules/bootstrap/scss/pagination";
//@import "node_modules/bootstrap/scss/badge";
//// @import "jumbotron";
//@import "node_modules/bootstrap/scss/alert";
//// @import "progress";
//// @import "media";
//@import "node_modules/bootstrap/scss/list-group";
//@import "node_modules/bootstrap/scss/close";
//@import "node_modules/bootstrap/scss/modal";
//@import "node_modules/bootstrap/scss/tooltip";
//@import "node_modules/bootstrap/scss/popover";
//@import "node_modules/bootstrap/scss/carousel";
////@import "utilities";
//@import "node_modules/bootstrap/scss/utilities";
//@import "utilities/borders";
//@import "utilities/display";
@import "scss/bootstrap-overwrite/bootstrap-utilities-display";
//@import "utilities/flex";
@import "scss/bootstrap-overwrite/bootstrap-utilities-flex";
//@import "utilities/shadows";
//@import "utilities/spacing";
@import "scss/bootstrap-overwrite/bootstrap-utilities-spacing";
//@import "utilities/text";
@import "scss/bootstrap-overwrite/bootstrap-utilities-text";

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);
@include _assert-ascending($container-max-widths, "$container-max-widths");


// app styles
@import "scss/index";



/*
Bootstrap's breakpoint mixins


media-breakpoint-up
media-breakpoint-down
media-breakpoint-between
media-breakpoint-only
*/
